# Byte-compiled / optimized / DLL files #
#########################################
__pycache__/

# Environments #
################
.venv
venv/

# Ignore all credential files
*.credentials.json
#Except the sample one
!sample.credentials.json

# Database files
db/database.db
db/name_lists.py


# Personal Scratch Folder
scratch/