{% extends 'base.html' %}

{% block content %}
    <form method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" size="15" maxlength="128"
                placeholder="Please enter your name" class="form-control"
                value="{{ request.form['name'] }}"></input>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Find</button>
        </div>
        <h2>{{my_almost_mommy}}</h2>
    </form>
{% endblock %}

