{% extends 'base.html' %}

{% block content %}    
    <div class="container-fluid">
        <div class="row my-3">
            <p>The inspiration of MyAlmostMommy.com came from the confluence of two aspects
            of 2000's pop culture; ,<a href="http://www.mess.be/inickgenwuname.php/">The Wu-Tang Name Generator</a> 
            that gave Donald Glover the name Childish Gambino, and some particularly cringy 
            <a href="https://www.tiktok.com/@aeiomg/video/7233324918446853381">dialogue from Gilmore Girls</a> where Lorelai Gilmore refers to 
            her father’s former paramour as “my almost Mommy.” <p>
            <p>The reason for MyAlmostMommy.com was a need to practice full-stack programming by setting up a real world website. You can find most of the source code to set up
            your own project on my Github page, although many of the names and images have been omitted from that repository.</p>
            <p>Finally, making this site was fun! I hope you have as much fun playing around and discovering your almost-mommies!</p>
        </div>        
    </div>
{% endblock %}