{% extends 'base.html' %}

{% block content %}    
    <div class="container-fluid">
        <div class="row my-3 d-flex justify-content-center">
            <div class="col-12 col-md-3 text-center">
                <img
                    id="AnthonyRoyImage" 
                    src="/static/images/Github_image.jpg" 
                    style="max-height: 240px;" 
                    class="rounded" 
                    alt="Anthony Roy"                    
                >
                <figcaption class="figure-caption fs-5">Anthony Roy Ph.D.</figcaption>
            </div>
            <div class="col-12 col-md-6">
                <p>
                    I'm Anthony Roy, a journeyman programmer with decades of problem-solving experience.
                    The inspiration of MyAlmostMommy.com came from the confluence of two aspects of 2000's pop culture; 
                    ,<a href="http://www.mess.be/inickgenwuname.php/">The Wu-Tang Name Generator</a> that gave Donald 
                    Glover the name Childish Gambino, and some particularly cringy
                    <a href="https://www.tiktok.com/@aeiomg/video/7233324918446853381">dialogue from Gilmore Girls</a>
                    where Lorelai Gilmore refers to her father’s college sweetheart as “my almost Mommy.” </p>
                <p>
                    I created this page to practice full-stack programming with a real world website. You can find the 
                    code for this Python-based project on <a href="https://github.com/anthonymroy/my-almost-mommy">Github</a>.
                    Making this site was a ton of fun for me, and I hope you have fun playing around and discovering your 
                    almost-mommy!
                </p>
            </div>
            <div class="col-12 col-md-3 text-center">
                <img
                    id="PennilynLottImage" 
                    src="/static/images/pennilyn-lott.jpg" 
                    style="max-height: 240px;" 
                    class="rounded" 
                    alt="Pennilyn Lott"                    
                >
                <figcaption class="figure-caption fs-5"><p>Lorelai's almost-mommy,<br>Pennilyn Lott</p></figcaption>
            </div>
        </div>        
    </div>
{% endblock %}