{% extends 'base.html' %}

{% block content %}    
    <div class="container-fluid">
        <div class="row my-3">
            <div class="col-12 col-md-8">
                <p>The inspiration of MyAlmostMommy.com came from the confluence of two aspects
                of 2000's pop culture; ,<a href="http://www.mess.be/inickgenwuname.php/">The Wu-Tang Name Generator</a> 
                that gave Donald Glover the name Childish Gambino, and some particularly cringy 
                <a href="https://www.tiktok.com/@aeiomg/video/7233324918446853381">dialogue from Gilmore Girls</a> where Lorelai Gilmore refers to 
                her father’s college sweetheart as “my almost Mommy.” <p>
                <p>The reason for MyAlmostMommy.com was a need to practice full-stack programming wth a real world website. You can find most of the source code for this
                Python-based project on my <a href="https://github.com/anthonymroy">Github</a></p>
                <p>Making this site was a ton of fun for me, and I hope you have fun playing around and discovering your almost-mommies!</p>
            </div>
            <div class="col-12 col-md-4 text-center">
                <img
                    id="PennilynLottImage" 
                    src="/static/images/pennilyn-lott.jpg" 
                    style="max-height: 250px;" 
                    class="rounded" 
                    alt="Pennilyn Lott"                    
                >
                <figcaption class="figure-caption h1">Lorelai's almost-mommy, Pennilyn Lott</figcaption>
            </div>
        </div>        
    </div>
{% endblock %}