{% extends 'base.html' %}

{% block content %}    
     <div class="container-fluid">
        <div class="row my-3">
            <div class="col-12 text-center fs-4">
                I'd love to hear from you if you have any questions or comments about this website or any of my other work.
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12 col-sm-6 fs-4 text-center">
                <a href="https://anthonymroy.pythonanywhere.com/">Calcule</a>
            </div>
            <div class="col-12 col-sm-6 fs-4 text-center">
                <a href="mailto:anthony@almostgilmore.com">Email</a>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12 col-sm-6 fs-4 text-center">
                <a href="https://www.linkedin.com/in/anthonyroyphd/">LinkedIn</a>
            </div>
            <div class="col-12 col-sm-6 fs-4 text-center">
                <a href="https://github.com/anthonymroy">Github</a>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12 text-center fs-4">
                Please don't hesitate to reach out!
            </div>
        </div>      
    </div>
{% endblock %}