{% extends 'base.html' %}

{% block content %}    
    <div class="container-fluid">
        <div class="row my-3">
            <p class="text-center fs-4">Use the <b>My Almost Mommy Generator</b> to discover which of your father’s former girlfriends is attending the Harvard-Yale football game!</p>     
        </div>
        <div id="portraitContainer" class="row d-none">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center">
                <img id="portrait1" src="" style="height: 200px;" class="rounded" alt="Image of woman">
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center">                
                <img id="portrait2" src="" style="height: 200px;" class="rounded" alt="Image of woman">
            </div>
            <div class="d-none d-sm-block col-4 col-md-3 col-lg-2 text-center">
                <img id="portrait3" src="" style="height: 200px;" class="rounded" alt="Image of woman">
            </div>
            <div class="d-none d-md-block col-3 col-lg-2 text-center">                
                <img id="portrait4" src="" style="height: 200px;" class="rounded" alt="Image of woman">
            </div>
            <div class="d-none d-lg-block col-2 col-lg-2 text-center">                
                <img id="portrait5" src="" style="height: 200px;" class="rounded" alt="Image of woman">             
            </div>
            <div class="d-none d-lg-block col-2 text-center">                    
                <img id="portrait6" src="" style="height: 200px;" class="rounded" alt="Image of woman">
            </div>
        </div>
        <div id="momContainer" class="row align-items-center">
            <div class="col-12 col-sm-6 text-center">
                <img id="momImage" src="" style="height: 250px;" class="rounded" alt="Image of woman">
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-start">
                <h1 id="momName"></h1>
            </div>
        </div>
        <form method="post">
            <div class="row mt-5">
                <div class="d-flex justify-content-center">
                    <div class="input-group" style="max-width: 400px;">
                        <input 
                            type="text"
                            class="form-control"
                            placeholder="Please enter your name"
                            name="name" 
                            maxlength="50"
                            minlength="2"
                            pattern="^[a-zA-Z\-\. ]+$" 
                            title="Only letters, spaces, hyphens, and periods are allowed."
                            aria-label="name"
                            aria-describedby="button-addon">
                        <button 
                            class="btn text-white" 
                            style="background-color: #002060; font-family: Cormorant Garamond; font-weight: bold;""
                            type="submit"
                            id="button-addon">GO!</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const portrait1 = "{{ portrait_1 }}" ;
            const portrait2 = "{{ portrait_2 }}" ;
            const portrait3 = "{{ portrait_3 }}" ;
            const portrait4 = "{{ portrait_4 }}" ;
            const portrait5 = "{{ portrait_5 }}" ;
            const portrait6 = "{{ portrait_6 }}" ;
            almostMommyName = "{{ almost_mommy_name }}" ;
            const almostMommyImage = "{{ almost_mommy_img }}" ;

            const portraitContainer = document.getElementById('portraitContainer');
            const portrait1Element = document.getElementById('portrait1');
            const portrait2Element = document.getElementById('portrait2');
            const portrait3Element = document.getElementById('portrait3');
            const portrait4Element = document.getElementById('portrait4');
            const portrait5Element = document.getElementById('portrait5');
            const portrait6Element = document.getElementById('portrait6');
            
            const momContainer = document.getElementById('momContainer');
            const momNameElement = document.getElementById('momName');
            const momImageElement = document.getElementById('momImage');
            function updateLayout() {
                // Start by hiding both configurations
                portraitContainer.classList.add('d-none');
                momContainer.classList.add('d-none');

                // Show the relevant container depending on if a name was given
                if (almostMommyName === '') {
                    portraitContainer.classList.remove('d-none');
                } 
                else {
                    momContainer.classList.remove('d-none');
                    momNameElement.textContent = almostMommyName;
                }
                portrait1Element.src = portrait1;
                portrait2Element.src = portrait2;
                portrait3Element.src = portrait3;
                portrait4Element.src = portrait4;
                portrait5Element.src = portrait5;
                portrait6Element.src = portrait6;
                momImageElement.src = almostMommyImage;
                momNameElement.textContent = almostMommyName;
                almostMommyName = ""; //Reset name in case of reload
            }

            // Set initial state (e.g., if you want one visible by default or a default message)
            updateLayout(); // Call once on page load to set initial visibility
        });
    </script>
{% endblock %}