{% extends 'base.html' %}

{% block content %}
    <form method="post">
        <p>MyAlmostMommy.com was created by the confluence of two aspects
            of 2000's pop culture; The Wu-Tang Name Generator that gave Donald Glover
             the name Childish Gambino, and a particularly cringy piece of 
             dialogue from Gilmore Girls where Lorelai Gilmore refers to 
             her father’s former paramour as “my almost Mommy.” So now you 
             can find out which of your father’s ex-girlfriends is attending
              the Harvard-Yale football game!<p>
        <div class="form-group">
            <input 
                type="text" 
                placeholder="Please enter your name" 
                class="form-control"
                name="name" 
                size="15" 
                maxlength="50"
                pattern="^[a-zA-Z\-\. ]+$" 
                title="Only letters, spaces, hyphens, and periods are allowed."
                value="{{ request.form['name'] }}"></input>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Find</button>
        </div>
        <h2>{{my_almost_mommy}}</h2>
    </form>
{% endblock %}

